{% extends "base.html" %}

{% block content %}

<div class='row'>
    <div class='tags-container offset1 span3'>
        {% for tag in tags %}
            {% set tag_slug = tag.replace(' ', '-') %}
            <p>
                <a href='../{{ tag_slug }}'>{{ tag }}</a>
            </p>
        {% endfor %}
    </div>

    <div class='span8'>
        <h4>{{ entry.config.title }}</h4>
        <p>{{ entry.config.created }}</p>

        {{ entry.rendered_markdown }}

        <i class='pull-right'>tags:
            {% for tag in entry.config.tags %}
                <a href="../{{ tag.replace(' ', '-') }}">{{ tag }}</a>
            {% endfor %}
        </i>
    </div>

{% endblock %}
