{# utilities to be imported by other templates
#}

{% macro tag_sidebar(tags, tag) %}
{# shows a list of tags with counts
if a tag is given, show an indicator at matching tags
#}

<div class='tags-container offset1 span3'>

  {# first render the meta files
  #}
  {% for m in meta_files %}
    {% if m.slug == current_page %}
      <h6>
        <span class='indicator'>
          <span class='arrow'>&raquo;</span>
          {{ m.config['title']|upper }}
        </span>
      </h6>
    {% else %}
      <a href="../{{ m['slug'] }}">
        <h6>
          {{ m.config['title']|upper }}
        </h6>
      </a>
    {% endif %}
  {% endfor %}

  <br />

  {# show the tag list
  #}
  {% for t in tags %}
    {% if t['name'] == tag %}
      <h6>
        <span class='indicator'>
          <span class='arrow'>&raquo;</span>
          {{ t['name']|upper }} ({{ t['count'] }})
        </span>
      </h6>
    {% else %}
      <a href="../{{ t['name'].replace(' ', '-') }}">
        <h6>
          {{ t['name']|upper }} ({{ t['count'] }})
        </h6>
      </a>
    {% endif %}
  {% endfor %}
</div>

{% endmacro %}
