{% extends "base.html" %}


{% block header %}

<div class='offset4 span8'>
    <h6>{{ tag|upper }}</h6>
</div>

{% endblock %}


{% block content %}

<div class='tags-sidebar offset1 span3'>
    {% for tag in tags %}
    <a href="../{{ tag.replace(' ', '-') }}">
        <h6>{{ tag|upper }}</h6>
    </a>
    {% endfor %}
</div>

<div class='span8'>

    {% for entry in entries %}
    <a href='../{{ entry.slug }}'>
        <blockquote>
            <h4> {{ entry.config.title }}</h4>
            <p>{{ entry.config.blurb }}</p>
        </blockquote>
    </a>
    {% endfor %}
</div>

{% endblock %}
