{% extends "base.html" %}

{% block content %}

<div class='row'>
    <div class='tags-container offset1 span3'>
        {% for tag in tags %}
            <p>
                <a href='../{{ tag.replace(' ', '-') }}'>{{ tag }}</a>
            </p>
        {% endfor %}
    </div>

    <div class='span8'>

        <h2>{{ tag }}</h2>

        {% for entry in entries %}
        <a href='../{{ entry.slug }}'>
            <div class='well'>
                <h4> {{ entry.config.title }}</h4>
                <p>{{ entry.config.blurb }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}
